{% extends "templates/base.twig" %}

{% block content %}

    <article {{ function('post_class') }}>
        <header>
            <div class="danzerpress-image-wrap">
                <img class="thumbnail" src="{{ post.thumbnail.src }}">
            </div>
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <p>Posted on: {{ post.date }}</p>
                <p>By: {{ post.author.name|capitalize }}</p>
            </div>
        </header>
        <div class="entry-content">
            {{ post.content }}
        </div>
    </article>

    <div class="danzerpress-pagination">
        <div class="danzerpress-flex-row danzerpress-row-fix">
            <div class="danzerpress-prev danzerpress-col-2">
                <a href="{{ post.prev.link }}">
                    <div class="danzerpress-pagination-img danzerpress-prev-img">
                        <span>PREV:<br>{{ post.prev.title }}</span>
                        <img src="{{ post.prev.thumbnail.src }}">
                    </div>
                </a>
            </div>
            <div class="danzerpress-next danzerpress-col-2">
                <a href="{{ post.next.link }}">
                    <div class="danzerpress-pagination-img danzerpress-next-img">
                        <img src="{{ post.next.thumbnail.src }}">
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}